.hidden {
  display: none !important;
}

.battle-container,
.voting-container {
  display: flex;
  flex-direction: row;
  width: 60vw;
  margin: auto;
  justify-content: space-between;
  margin-top: 5px;
  gap: 50px;
}

.playlist {
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

iframe {
  width: 100%;
  height: 200px;
  margin-bottom: 5px;
}

.voting-container button {
  width: 100%;
  height: 50px;
}

#round-buttons {
  margin-top: 20px;
}

#round-buttons button {
  margin-right: 5px;
  height: 30px;
}
