@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
  color: white;
  font-family: sans-serif;
  background-color: #2a2722;
}

iframe {
  width: 45%;
  background: #fffef7;
  padding: 10px;
  margin: 0;
  border: none;
}

button {
  transition: background 0.2s ease;
}

button:hover {
  background: #555;
}
.hidden {
  display: none !important;
}

.disabled {
  cursor: not-allowed;
}

.voted {
  background: green;
}

.heading-text {
  text-align: center;
}

.battle-container,
.voting-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: auto;
  justify-content: space-between;
  gap: 5px;
  background: #e4dfd5;
  padding: 10px;
  border-radius: 1px;
}

.voting-container {
  background: none !important;
}

.playlist {
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.voting-container button {
  width: 100%;
  height: 50px;
}

#round-buttons {
  margin-top: 20px;
}

#round-buttons button {
  height: 30px;
}

button {
  background: white;
  border-radius: 5px;
  border: none;
  margin-right: 15px;
}

.loading-screen {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.95);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #e5e5e5;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.active-round {
  background-color: yellow !important;
}

.voting-header {
  text-align: center;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .battle-container,
  .voting-container {
    max-width: 60%;
  }
}

@media (min-width: 1024px) {
  .battle-container,
  .voting-container {
    max-width: 50%;
  }
}

@media (min-width: 1280px) {
  .battle-container,
  .voting-container {
    max-width: 40%;
  }
}
